@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}
#root {
  width: 100%;
  height: 100%;
  will-change: transform;
}

body {
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: hidden;
}
.min-h-screen {
  min-height: 100vh;
}


.text-shadow-custom {
  text-shadow: 2px 2px 4px #64748B;
}

.shadow-custom {
  box-shadow: -5px -5px 15px #64748B, 5px 5px 15px #64748B;
}
.section-shadow {
  box-shadow: -10px -10px 20px #64748B, 10px 10px 20px #64748B;
}